In [3]:
# Extracción
import pandas as pd
import os
import re
import glob

# Transformación
from FuncionesETL_simple.funciones_ETL_simple import *

# Carga
import psycopg2
import sqlalchemy as db

## - EXTRACCIÓN

In [64]:
folder_path = os.getcwd() + "\\Datasets\\" # Ruta de la carpeta donde están los archivos
file_path = glob.glob(folder_path + "*") # Lista de rutas de los archivos de precios

In [65]:
# Bucle que recorre todos los archivos de la carpeta, crea un df y lo agrega a una lista
lst_df = []

for path in file_path:
    df = importar(path)  # La función importar se encuentra en el archivo funciones_ETL.py
    lst_df.append(df)

In [66]:
# Lista con los nombres de archivos
lst_keys = []
for path in file_path:
    filename = os.path.split(path)[1]
    filename_mod = filename.split('.')[0]
    lst_keys.append(filename_mod)

In [67]:
# Diccionario que contiene cada df y le asigna como key el nombre del archivo correspondiente
dicc_df={}
for e in range(len(lst_keys)):
    key = lst_keys[e]
    df = lst_df[e] 
    dicc_df[key] = df

---

## - TRANSFORMACIÓN

In [68]:
transformacion(dicc_df) # ver función en archivo funciones_ETL.py

{'precios_semanas_20200419_20200426':         precio    producto_id sucursal_id fecha_semana
 0        198.9  9990385651946    5-1-2003   2020-04-19
 1        349.0  7790520000064      50-1-2   2020-04-19
 2        449.0  7790520000071      49-1-2   2020-04-19
 3        449.0  7790520000071      50-1-2   2020-04-19
 4        122.5  7790520000125   20-1-2001   2020-04-19
 ...        ...            ...         ...          ...
 937447   830.0  7792410010047     10-1-46   2020-04-26
 937448   930.0  7792410010047     10-1-48   2020-04-26
 937449  1030.0  7792410010047      10-1-6   2020-04-26
 937450   980.0  7792410010047    10-3-465   2020-04-26
 937451  4732.0  7899026484603   11-5-2997   2020-04-26

 [920483 rows x 4 columns],
 'precios_semana_20200413':         precio    producto_id sucursal_id fecha_semana
 0        29.90  0000000001663     2-1-014   2020-04-13
 1        29.90  0000000002288     2-1-032   2020-04-13
 2        39.90  0000000002288     2-1-096   2020-04-13
 3       499.99  0000000205870     9-1-686   2020-04-13
 4       519.99  0000000205870     9-2-248   2020-04-13
 ...        ...            ...         ...          ...
 472161  139.99  9569753142128      25-1-1   2020-04-13
 472162   34.99  9795403001143      25-1-1   2020-04-13
 472163  312.50  9990385651922       5-1-3   2020-04-13
 472164  312.50  9990385651939       5-1-3   2020-04-13
 472165  198.90  9990385651946       5-1-3   2020-04-13

 [472125 rows x 4 columns],
 'precios_semana_20200503':         precio    producto_id sucursal_id fecha_semana
 0        29.90  0000000002288     2-1-187   2020-05-03
 1        39.90  0000000002288     2-3-247   2020-05-03
 2       499.99  0000000205870     9-1-685   2020-05-03
 3       539.99  0000000205870      9-2-22   2020-05-03
 4       519.99  0000000205870      9-2-59   2020-05-03
 ...        ...            ...         ...          ...
 397729  139.99  9569753142128      25-1-1   2020-05-03
 397730   34.99  9795403001143      25-1-1   2020-05-03
 397731  312.50  9990385651922       5-1-5   2020-05-03
 397732  312.50  9990385651939       5-1-5   2020-05-03
 397733  198.90  9990385651946       5-1-5   2020-05-03

 [395604 rows x 4 columns],
 'precios_semana_20200518':         precio    producto_id sucursal_id fecha_semana
 0        29.90  0000000002288     2-1-009   2020-05-18
 1        32.90  0000000002288     2-1-037   2020-05-18
 2        36.90  0000000002288     2-1-090   2020-05-18
 3        39.90  0000000002288     2-3-247   2020-05-18
 4       499.99  0000000205870     9-1-430   2020-05-18
 ...        ...            ...         ...          ...
 415288  149.99  9569753142128      25-1-1   2020-05-18
 415289   34.99  9795403001143      25-1-1   2020-05-18
 415290  312.50  9990385651922       5-1-4   2020-05-18
 415291  312.50  9990385651939       5-1-4   2020-05-18
 415292  198.90  9990385651946       5-1-4   2020-05-18

 [413139 rows x 4 columns],
 'producto':          producto_id        marca  \
 0      0000000001663   LA ANÓNIMA
 1      0000000002288   LA ANÓNIMA
 2      0000000205870    SIN MARCA
 3      0000000205894    SIN MARCA
 4      0000000205955    SIN MARCA
 ...              ...          ...
 72033  9569753142128  DELI-SITAS
 72034  9795403001143         MAYO
 72035  9990385651922         DANA
 72036  9990385651939         DANA
 72037  9990385651946         DANA

                                                   nombre presentacion
 0                        Radicheta Atada La Anonima 1 Un       1.0 un
 1                          Perejil Atado La Anonima 1 Un       1.0 un
 2                                       Ojo de Bife 1 Kg       1.0 kg
 3                      Milanesa de Peceto Novillito 1 Kg       1.0 kg
 4                             Chiquizuela Novillito 1 Kg       1.0 kg
 ...                                                  ...          ...
 72033  Milhojas Cobertura de Chocolate Blanco Deli-Si...     500.0 gr
 72034                           Mini Pizzetas Mayo 12 Un      12.0 un
 72035                 Te Negro en Hebras Lata Dana 50 Gr      50.0 gr
 72036                 Te Verde en Hebras Lata Dana 50 Gr      50.0 gr
 72037            Yerba Mate Aromatizada Lata Dana 150 Gr     150.0 gr

 [67941 rows x 4 columns],
 'sucursal':      sucursal_id  comercioId  banderaId      banderaDescripcion  \
 0          1-1-7           1          1              Super MAMI
 1         10-1-1          10          1  Hipermercado Carrefour
 2        10-1-10          10          1  Hipermercado Carrefour
 3        10-1-11          10          1  Hipermercado Carrefour
 4       10-1-112          10          1  Hipermercado Carrefour
 ...          ...         ...        ...                     ...
 2328    9-3-5277           9          3                   Jumbo
 2329    9-3-5626           9          3                   Jumbo
 2330    9-3-5961           9          3                   Jumbo
 2331     9-3-628           9          3                   Jumbo
 2332     9-3-662           9          3                   Jumbo

               comercioRazonSocial provincia                     localidad  \
 0                 Dinosaurio S.A.      AR-X                   SALSIPUEDES
 1                        INC S.A.      AR-B                    San Isidro
 2                        INC S.A.      AR-B                    Hurlingham
 3                        INC S.A.      AR-B           Malvinas Argentinas
 4                        INC S.A.      AR-A                         Salta
 ...                           ...       ...                           ...
 2328  Jumbo Retail Argentina S.A.      AR-U            COMODORO RIVADAVIA
 2329  Jumbo Retail Argentina S.A.      AR-B               GENERAL PACHECO
 2330  Jumbo Retail Argentina S.A.      AR-C  CIUDAD AUTONOMA BUENOS AIRES
 2331  Jumbo Retail Argentina S.A.      AR-B                  SAN FERNANDO
 2332  Jumbo Retail Argentina S.A.      AR-B                      DEL VISO

                                         direccion        lat        lng  \
 0                                   E53 1011 None -31.126667 -64.295250
 1                       Bernardo De Irigoyen 2647 -34.491345 -58.589025
 2                                Av. Vergara 1910 -34.620610 -58.633769
 3                           Av. Arturo Illia 3770 -34.528883 -58.701631
 4                                20 De Febrero 37 -24.789072 -65.413699
 ...                                           ...        ...        ...
 2328                          Yrigoyen Hipolito 0 -45.873300 -67.493500
 2329                        Boulogne Sur Mer 1275 -34.474500 -58.625700
 2330                        Avenida Santa Fe 4950 -34.577200 -58.430000
 2331  Avenida Del Libertador Gral San Martin 2271 -34.446900 -58.545700
 2332                         Acceso Pilar Norte 0 -34.436000 -58.808000

              sucursalNombre  sucursalTipo
 0              Super Mami 4  Hipermercado
 1                San Isidro  Hipermercado
 2               Villa Tesei  Hipermercado
 3       Malvinas Argentinas  Hipermercado
 4                     Salta  Hipermercado
 ...                     ...           ...
 2328         Jumbo-Comodoro  Hipermercado
 2329     Jumbo Pacheco Novo  Hipermercado
 2330     Jumbo Av. Santa Fé  Supermercado
 2331     Jumbo San Fernando  Supermercado
 2332  Jumbo Paseo del Pilar  Supermercado

 [2333 rows x 12 columns]}

---

## - CARGA

In [70]:
from conexion_DB import *

In [71]:
dicc_df['producto'].to_sql(name="producto", con = conection, if_exists='append', index=False)

941

In [72]:
dicc_df['sucursal'].to_sql(name="sucursal", con = conection, if_exists='append', index=False)

333

In [75]:
lst_df = []
for key in dicc_df.keys():
    if 'precios_semana' in key:
        lst_df.append(dicc_df[key])

tabla_precio = pd.concat(lst_df)

tabla_precio = tabla_precio.sort_values('fecha_semana')

tabla_precio.to_sql(name="precio", con = conection, if_exists='append', index=False)

351